version: "3.7"

services:
  postgres:
    build: './database'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    restart: always
  nats:
    image: "nats-streaming:0.9.2"
    restart: always
  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch:6.2.3"
    environment:
      - "discover.type=single-node"